<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113869788639-giiafohv0j6k7pve483q23me228c3i2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113869788639-giiafohv0j6k7pve483q23me228c3i2h</string>
	<key>API_KEY</key>
	<string>AIzaSyBCmekm4SS5BmdfUdpU1B02gdPL7RuMDkc</string>
	<key>GCM_SENDER_ID</key>
	<string>113869788639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bitcampapp</string>
	<key>PROJECT_ID</key>
	<string>bitcamp-2017-761ae</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcamp-2017-761ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:113869788639:ios:56562d4d8ac5e943</string>
	<key>DATABASE_URL</key>
	<string>https://bitcamp-2017-761ae.firebaseio.com</string>
</dict>
</plist>
